section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.people-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}

.films-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.vehicle-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: goldenrod;
}